*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/20170418_AgendaEnProceso/dist/
/Sensor/build/
/Sensor/nbproject/private/
/20170420_Sensor/nbproject/private/
/Oblligatorio/nbproject/private/
/Oblligatorio/build/
/Obligatorio/nbproject/private/
/Obligatorio/build/
/20170420_Sensor/build/
/DivisionLogica/build/
/DivisionLogica/nbproject/private/